    <!--footer section start-->
    <footer class="footer-wrap">
      <div class="footer footer-top section section-md bg-primary text-white">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-lg-4 mb-4">
                      <a class="footer-brand mr-lg-5 d-flex" href="index.html">
                          <img src="images/logo-white.png" class="mr-3" alt="Footer logo">
                      </a>
                      <p class="my-4">Interactively unleash interactive best practices before technically sound portals.</p>
                      <div class="btn-wrapper mt-4">
                          <button class="btn btn-icon-only btn-pill btn-twitter mr-2 icon icon-xs icon-shape" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="40k Followers">
                              <span aria-hidden="true" class="fab fa-twitter"></span>
                          </button>
                          <button class="btn btn-icon-only btn-pill btn-facebook mr-2 icon icon-xs icon-shape" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="50k Like">
                              <span aria-hidden="true" class="fab fa-facebook-f"></span>
                          </button>
                          <button class="btn btn-icon-only btn-pill btn-youtube mr-2 icon icon-xs icon-shape" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="25k Subscribe">
                              <span aria-hidden="true" class="fab fa-youtube"></span>
                          </button>
                          <button class="btn btn-icon-only btn-pill btn-dribbble icon icon-xs icon-shape" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="2k Project">
                              <span aria-hidden="true" class="fab fa-dribbble"></span>
                          </button>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                      <h5 class="mb-4">Company</h5>
                      <ul class="links-vertical">
                          <li><a target="_blank" href="#">About Us</a></li>
                          <li><a target="_blank" href="#">Careers</a></li>
                          <li><a target="_blank" href="#">Customers</a></li>
                          <li><a target="_blank" href="#">Community</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                      <h5 class="mb-4">Resources</h5>
                      <ul class="links-vertical">
                          <li><a target="_blank" href="#">Help</a></li>
                          <li><a target="_blank" href="#">Events</a></li>
                          <li><a target="_blank" href="#">Live sessions</a></li>
                          <li><a target="_blank" href="#">Open sources</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-lg-2">
                      <h5 class="mb-4">Support</h5>
                      <ul class="links-vertical">
                          <li><a target="_blank" href="#">Help</a></li>
                          <li><a target="_blank" href="#">Tech Support</a></li>
                          <li><a target="_blank" href="#">Network Status</a></li>
                          <li><a target="_blank" href="#">Contact Support</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer py-3 bg-primary text-white border-top border-variant-default">
          <div class="container">
              <div class="row">
                  <div class="col p-3">
                      <div class="d-flex text-center justify-content-center align-items-center">
                          <p class="copyright pb-0 mb-0">Copyrights © 2021. All
                              rights reserved by
                              <a href="https://themeforest.net/user/themetags" target="_blank">ThemeTags</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!--footer section end-->
  <!--scroll bottom to top button start-->
  <button class="scroll-top scroll-to-target" data-target="html">
      <span class="fas fa-hand-point-up"></span>
  </button>